<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- The main servlet than gets commands as the parameter -->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>ua.denitdao.servlet.shop.controller.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/shop/*</url-pattern>
    </servlet-mapping>

    <!-- Filter that defines accessible commands for the roles -->
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>ua.denitdao.servlet.shop.controller.filter.AccessFilter</filter-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>postLogout profile postProfile postAddProduct addProduct postUpdateProduct updateProduct postDeleteProduct</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>postLogout profile postProfile</param-value>
        </init-param>
        <init-param>
            <param-name>guest</param-name>
            <param-value>postLogin login postRegister register</param-value>
        </init-param>
        <init-param>
            <param-name>out-of-control</param-name>
            <param-value>home category product postAddToCart default some postAddProduct addProduct postUpdateProduct updateProduct postDeleteProduct</param-value>
<!--            <param-value>home category product postAddToCart default some</param-value>-->
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <!--  Filter that defines encoding for the files  -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.denitdao.servlet.shop.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <!--  Filter that defines the locale (language) for the pages  -->
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>ua.denitdao.servlet.shop.controller.filter.LocaleFilter</filter-class>
        <init-param>
            <param-name>default</param-name>
            <param-value>en</param-value>
        </init-param>
        <init-param>
            <param-name>supported-locales</param-name>
            <param-value>uk en</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <!--  Listeners for basic operations during session and context destruction  -->
    <listener>
        <listener-class>ua.denitdao.servlet.shop.controller.listener.SessionListener</listener-class>
        <listener-class>ua.denitdao.servlet.shop.controller.listener.ContextListener</listener-class>
    </listener>

    <!--  Handling error cases with custom error pages  -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

</web-app>